/BiggestNo.class
/Bubblesort.class
/CharOcurrance.class
/CountWordInSent.class
/EvenDigitCount.class
/IntAddition.class
/MaxCon1s.class
/RemoveDupliateChar.class
/SecondLargest.class
/SortedSqrt.class
/StringSplitAndPrint.class
